<div class="container">

{{ if .lights }}
<div>

  <table id="lightsList" class="table table-bordered">
    <thead>
      <tr>
        <th>Light Name</th>
        <th>Desired</th>
        <th>Reported</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {{ range $light := .lights }}
      <tr>
        <form action="" method="POST">
          <td>
            {{ $light.Name}}
          </td>
          <td>
            <!-- <input type="text" class="form-control" size="1" id="{{ $light.Name}}-Desired" name="Desired"
              value="{{$light.Desired}}"> -->
              {{$light.Desired}}
          </td>
          <td>
            {{ $light.Reported}}
          </td>

          <td>
            <button type="submit" class="btn btn-outline-primary">Toogle Switch</button>
          </td>
          <input type="hidden" name="lightName" value="{{ $light.Name}}">
          <input type="hidden" name="lightReported" value="{{ $light.Reported }}">


        </form>
      </tr>

      {{ end }}
    </tbody>
  </table>
</div>
<div>
    <a class="btn btn-primary" href="/" role="button">Refresh Status</a>
</div>
{{ end }}